<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Patton Oswalt</string>
		<key>description</key>
		<string>Why the fuck is Cinderella&apos;s &quot;Don&apos;t Know What You Got&quot; making me tear up on my way to work?</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Guy Kawasaki</string>
		<key>description</key>
		<string>Top 5 computer vs. human game matchups http://tinyurl.com/29tegj4</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Chad Ochocinco</string>
		<key>description</key>
		<string>Many organizations and foundations including the touching stories im seeing on my timeline, how do i pick a family without upsetting anyone?</string>
	</dict>
	<dict>
		<key>title</key>
		<string>The New York Times</string>
		<key>description</key>
		<string>City Room: Live-Blogging Rangel’s Punishment http://nyti.ms/9ouI6q</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Rainn Wilson</string>
		<key>description</key>
		<string>Uh huh. So how&apos;s that workin out for you?</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Nicole Polizzi</string>
		<key>description</key>
		<string>My fans are the best! Xo!! RT @LifeStylesUSA: @Sn00ki u r such a doll! U have the best fans ever!! Can&apos;t wait to ... http://tmi.me/3jXCE</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Doug Benson</string>
		<key>description</key>
		<string>Hurry, make a clay bust of his head! RT @nerdist Lionel Ritchie sighting at LAX!</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Bill Simons Also Known as the ESPN Sports Guy</string>
		<key>description</key>
		<string>BS Report: @michaelombardi talks NFL, then Casey Wasserman explains his new LA football stadium plan (44:30 mark). http://es.pn/9ttQoM</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Chris Harwick</string>
		<key>description</key>
		<string>Lionel Ritchie sighting at LAX! He&apos;s easy like Sunday morning. Wish I were. I&apos;m difficult, like Wednesdays at 3.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Alison Brie</string>
		<key>description</key>
		<string>I was pleasantly surprised by the Wu-Tang Name Generator&apos;s accuracy when they gave me &quot;Budget Nudist&quot;. So that&apos;s my new rap name bitches!</string>
	</dict>
	<dict>
		<key>title</key>
		<string>James Harden</string>
		<key>description</key>
		<string>Have yall seen the new google tv??</string>
	</dict>
</array>
</plist>
